<h1>Purchase: <%= @purchase.id.to_s %></h1>

<h3>Products Purchased</h3>
<ul>
  <%@products_purchased.each() do |product|%>
  <li><%=product.description%></li>
  <%end%>
</ul>



<h3>Products you can add</h3>

<form  action="/purchase/<%=@purchase.id%>/update" method = 'post'>
  <input type="hidden" name="_method" value="patch">

  <ul>
    <%@products.each() do |product| %>


      <li>
        <input type="checkbox" name="product_ids[]" value="<%=product.id%>">
        <%= product.description() %> | <%= product.cost %> | <%=product.purchase_id %>
      </li>

    <%end%>

  </ul>
  <button name="submit">Add Product</button>
</form>

<a href="/purchases">Purchases</a>
<br>
<a href="/">Home</a>
