<h1>Purchase: <%= @purchase.id.to_s %></h1>

<h3>Products Purchased</h3>
<ul>
  <%@products_purchased.each() do |product|%>
  <li><%=product.description%></li>
  <%end%>
</ul>



<h3>Products you can add</h3>
<form  action="/purchase/<%=@purchase.id%>/update" method = 'post'>
  <input type="hidden" name="_method" value="patch">

<ul>
  <%@products.each() do |product| %>
<div class = "checkbox">

  <li>
    <input type="checkbox" name="purchase_ids[]" value="<%=@purchase.id%>">
    <input type="hidden" name="product_id" value="<%=product.id%>">
    <%= product.description() %> | <%= product.cost %>
  </li>
</div>

  <button name="submit">Add Product</button>

  <%end%>

</ul>
</form>

<a href="/purchases">Purchases</a>
<br>
<a href="/">Home</a>
